<!DOCTYPE html>
<head>
  <h1>Temperature Converter</h1>
  <p>Starting Temperature</p>

  <%= @tStart %>
  <%=
  if @d1 == "c"
    @d1 = "ºC"
  elsif @d1 == "f"
    @d1 = "ºF"
  else
    @d1 = "ºK"
  end
  %>

  <p>Converted to <%=
  if @d1 == "c"
    @d1 = "Celsius"
  elsif @d1 == "f"
    @d1 = "Fahrenheit"
  else
    @d1 = "Kelvin"
  end
  %></p>

  <p>Final Temperature</p>
</head>

<body>
  <%=
    @tStart = @tStart.to_f
    @tEnd = 0.0
    if @d1 == "c"
      if @d2 == "f"
        @tEnd = (@tStart * 9/5) + 32.0
      else
        @tEnd = @tStart + 273.15
      end
    elsif @d1 == "f"
      if @d2 == "c"
        @tEnd = (@tStart - 32.0) * 5/9
      else
        @tEnd = (@tStart - 32.0) * 5/9 + 273.15
      end
    else
      if @d2 == "c"
        @tEnd = @tStart - 273.15
      else
        @tEnd = (@tStart - 273.15) * 9/5 + 32.0
      end
    end
  %>

  <%=
  if @d1 == "c"
    @d1 = "ºC"
  elsif @d1 == "f"
    @d1 = "ºF"
  else
    @d1 = "ºK"
  end
  %>
</body>
